<h1>Welecome to the forum's index page</h1>
<div class="col-sm-8 text-right">
<%= link_to new_post_path, class: 'btn btn-primary' do %>
  Add New Post
<% end %>
</div>
<% @post.each do |item| %>
<h1> <%= item.title %> </h1>
<h1> <%= item.description %></h1>
<% end %>