<div class="page-header">
  <%= link_to green_room_show_path, class: 'btn btn-default' do %>
    Green Room
  <% end %>
  <%= link_to edit_business_card_path(@business_card), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show Social Card</h1>
</div>

<dl class="dl-horizontal">
  <dt>Imdb:</dt>
  <dd><%= @business_card.imdb %></dd>

  <dt>Twitter:</dt>
  <dd><%= @business_card.twitter %></dd>

</dl>
